In [38]:
# Imports and pip installations (if needed)

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# Part 1: Load the dataset

In [32]:
# Load the dataset (load remotely, not locally)

iris = pd.read_csv('https://archive.ics.uci.edu/ml/'
                 'machine-learning-databases/iris/iris.data', header=None)

In [33]:
# Output the first 15 rows of the data

iris.head(15)

      0    1    2    3            4
0   5.1  3.5  1.4  0.2  Iris-setosa
1   4.9  3.0  1.4  0.2  Iris-setosa
2   4.7  3.2  1.3  0.2  Iris-setosa
3   4.6  3.1  1.5  0.2  Iris-setosa
4   5.0  3.6  1.4  0.2  Iris-setosa
5   5.4  3.9  1.7  0.4  Iris-setosa
6   4.6  3.4  1.4  0.3  Iris-setosa
7   5.0  3.4  1.5  0.2  Iris-setosa
8   4.4  2.9  1.4  0.2  Iris-setosa
9   4.9  3.1  1.5  0.1  Iris-setosa
10  5.4  3.7  1.5  0.2  Iris-setosa
11  4.8  3.4  1.6  0.2  Iris-setosa
12  4.8  3.0  1.4  0.1  Iris-setosa
13  4.3  3.0  1.1  0.1  Iris-setosa
14  5.8  4.0  1.2  0.2  Iris-setosa

In [34]:
# Display a summary of the table information (number of datapoints, etc.)

iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## About the dataset
### Explain what the data is in your own words. What are your features and labels? What is the mapping of your labels to the actual classes?

# Part 2: Split the dataset into train and test

In [35]:
# Take the dataset and split it into our features (X) and label (y)

# features (X)
X = iris.iloc[:, [0, 1, 2, 3]].values

# label (y)
y = iris.iloc[:, 4].values

In [36]:
# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.9, test_size=0.1, random_state=1, shuffle = True)

# Part 3: Logistic Regression

In [47]:
# i. Use sklearn to train a LogisticRegression model on the training set

lr = LogisticRegression(random_state=1) # parameter C is of overfitting and regularization
lr.fit(X_train, y_train)
lr_train_accuracy = lr.score(X_train, y_train)
print('Logistic Regression Training Accuracy:', '%.5f'%lr_train_accuracy)

Logistic Regression Training Accuracy: 0.97778